footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}
hr.light {
    border-color: 1px solid #d5d5d5; 
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

a:hover{
    background-color: gold;
    padding: 10px;
    border-radius: 20px 10px 20px 10px;
}

.card-img{
    height: 500px;
    width: 100%;
}
